.Titulo{
    font-family: Medula One;
    font-size: 96px;
    font-weight: 400;
    line-height: 96.77px;
    text-align: center;
    color: #3D6992;
}

.cards{
    color: white;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

@media only screen and (max-width: 700px) {
    .cards{
        display: flex;
        flex-direction: column;
    }
}