body{
    background-color: #80CEE5;
}

.letrabranca{
    color: white;
    
}

#butao1 a, #butao3{
    color: white;
}

#butao1, #butao2, #butao3{
    border: none;
}

#butao1{
    width: 30%;
    background-color: #00A1E0;
    font-size: 150%;
    border-radius: 30px;
    padding: 15px;
    font-weight: 100;
}
#butao2
#butao3

.fundoBorrado{
    backdrop-filter: blur(2px);
    border: 2px solid white;
    border-radius: 30px;
    padding: 30px;
}