@import url('https://fonts.googleapis.com/css2?family=Medula+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Medula+One&display=swap');

body{
    background-color: #ffff;
}

.header10, .textBold10{
    width: 90vw;
    display: flex;
    margin-left: 17px;
    padding-top: 20px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.textBold10{
    margin-bottom: 20px;
    color:#017B7D;
}

.title10{
    font-family: Medula One;
    color:#017B7D;
    font-size: 64px;
    font-weight: 400;
    line-height: 64.51px;
    text-align: left;

}
.salesforceIcon{
    width: 80px;
    height: 55px;
    top: 24px;
    left: 321px;
    gap: 0px;
    opacity: 0px;
}

.forms10{
    width: 90vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* padding-left: 25px; */
    background: linear-gradient(180deg, #50C8AD 0%, #E4F5FF 100%);
    border-radius: 30px;

}

.formElements10{
    padding-top: 35px;
    padding-bottom: 35px;
}

.numberPhone{
    display: flex;

}

.DDI{
    width: 15%;
}

.inputNum{
    width: 85%;
}

.forms10 .inputNum{
    width: fit-content;
}

.buttonCon10{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.blueText10{
    color:#002730;
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 35px;
    text-align: center;
    margin-top: 20px;

}

.txtImg{
    display: flex;
    flex-direction: column;
    width: 90vw;
    justify-content: center;
    
}

input {
    all: unset;
    margin-left: 20px;
    margin-bottom: 20px;
    background: #68D1B9;
    width: 319px;
    height: 50px;
    top: 226px;
    left: 43px;
    gap: 0px;
    border-radius: 148px;
    opacity: 0px;
    border: 4px solid #E4F5FF;
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    line-height: 35px;
    text-align: left;
    margin-bottom: 46px;

}

button{
    all: unset;
    width: 165px;
    height: 46px;
    border-radius: 148px;
    border: 2px;
    background: #017B7D;
    color: white;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29.05px;
    text-align: center;
}

::placeholder{
    color: #017B7D;
    padding-left: 15px;
}

.textBold10{
    font-family: Inter;
    font-size: 90%;
    font-weight: 600;
    line-height: 35px;
    text-align: left;
    color: #062A32;
}

.terms10{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 262px;
    height: 51px;
    top: 758px;

    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-align: center;

}

.inputCheck{
    all: unset;
}

.ponteImg{
    width: 90vw;
    display: flex;
    justify-content: center;
}

.ponte {
    width: 100%;
    margin-top: 30px;

}

.textBottom10{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 15px;
    width: 90vw;
    margin: 0 auto;
    background: #00262F;

}

.whiteText10{
    color:#CCFFEC;
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 4px;
    margin-top: 20px;
}

ul{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-top: 15px;
    font-family: Inter;
    font-size: 15px;
    line-height: 18.15px;
    text-align: left;
    row-gap: 3px;
    color: #CCFFEC;
}
